@tailwind base;
@tailwind components;
@tailwind utilities;

/* 초기화 레이어 */
@layer base {
    html,
    body,
    #app {
        min-height: 100vh;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }

    html,
    body {
        font-family: "pretendard", system-ui, Arial, sans-serif;
        @apply text-koser-grayscale-100;
    }

    a[href=""] {
        @apply pointer-events-none;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #bdbdbd;
        border-radius: 6px;
    }

    @media screen and (max-width: 768px) {
        ::-webkit-scrollbar {
            width: 6px;
        }
    }
}

@layer components {
    #app {
        @apply flex flex-col;
    }

    main {
        @apply flex flex-col flex-1;
    }
}

@layer utilities {
    ._flex-center {
        @apply flex items-center justify-center;
    }

    ._enter-button {
        position: relative;
        display: inline-block;
        font-size: 20px;
        padding: 20px;
        background-color: #00a8ff;
        box-shadow:
                0 0 0 1px #0097e6 inset,
                0 0 0 2px rgba(255, 255, 255, 0.15) inset,
                0 8px 0 0 rgba(0, 151, 230, 0.7),
                0 8px 0 1px rgba(0, 0, 0, 0.4),
                0 8px 8px 1px rgba(0, 0, 0, 0.5);
        color: #fff;
        margin: 20px;
        border-radius: 6px;
        text-align: center;
        transition: top 0.01s linear;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);

        &:active {
             top: 9px;
             box-shadow:
                 0 0 0 1px #0984e3 inset,
                 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
                 0 0 0 1px rgba(0, 0, 0, 0.4);
        }
    }
}